@model ICollection<RecentMovieViewModel>;

<link rel="stylesheet" href="~/css/homePage/recentlyAdded.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/homePage/recentlyAddedElements/buttonsFunctionality.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/homePage/recentlyAddedElements/carouselStyles.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/homePage/recentlyAddedElements/movieFunctionality.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/homePage/recentlyAddedElements/recentMovies.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/homePage/recentlyAddedElements/sideMovieListStyles.css" asp-append-version="true" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;400;500;700;800;900&display=swap" rel="stylesheet">

<div class="recent-movies-text-line">
    <h2 class="recent-movies-text">Newest on Cinema Critique:</h2>
</div>
<div id="recentMoviesContainer">
    <div id="movieCarousel" class="carousel">

        <button id="prevBtn" class="control-btn">Previous</button>
        <button id="nextBtn" class="control-btn">Next</button>

        <div class="film-container">
            @foreach (var movie in Model)
            {
                <a asp-controller="Movie" asp-action="SelectedMovie" asp-route-id="@movie.Id" class="movie-link">
                    <div class="carousel-item">
                        <div class="scene-photo" style="background-image: url('@movie.ScenePhotoURL')">
                            <img src="@movie.CoverPhotoURL" alt="@movie.Title" class="cover-photo" />
                            <div class="title">@movie.Title</div>
                        </div>
                    </div>
                </a>
            }
        </div>

    </div>
    <ul id="movieList" class="movie-list">
        @foreach (var movie in Model)
        {
            <li class="movie-item">@movie.Title</li>
        }
    </ul>
</div>

<script src="~/js/homePage/recentlyAdded.js"></script>