@using CinemaCritique.Core.Contracts;
@using Microsoft.AspNetCore.Identity;
@model ReviewsForMovieViewModel;
@inject UserManager<CritiqueUser> UserManager
@inject IReviewService Service
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery

@{
    var requestDeleteToken = Antiforgery.GetAndStoreTokens(Context).RequestToken;
    var requestEditToken = Antiforgery.GetAndStoreTokens(Context).RequestToken;
}
<input type="hidden" id="hiddenMovieId" value="@Model.MovieId" />
<input id="__RequestVerificationReviewTokenDelete" type="hidden" value="@requestDeleteToken" />
<input id="__RequestVerificationReviewTokenEdit" type="hidden" value="@requestEditToken" />
@{
    var service = Service;
    var user = await UserManager.GetUserAsync(User);
}
<link rel="stylesheet" href="~/css/review/review.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/review/reviewOperations.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/review/reviewFunctionality.css" asp-append-version="true" />



<div class="review-container">

    @if (Model.Reviews.Count > 0)
    {
     

        @foreach (var review in Model.Reviews)
        {
            <div class="review-card">
                <div class="review-header">
                    <h3>@review.Username</h3>
                    @if (await service.DidUserWriteThisReview(review.ReviewId, user))
                    {
                        <div class="btn-container">
                            <button id="editButton" onclick="showEditModal('@review.MovieId', '@review.ReviewId')">
                                <i class="fa-regular fa-pen-to-square"></i>
                            </button>
                            <button id="removeButton" onclick="showDeleteModal('@review.MovieId', '@review.ReviewId')">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </div>
                    }
                    <span>@review.DatePublished</span>
                </div>
                <div class="review-content">
                    <p>@review.Content</p>
                </div>
                <div class="review-footer">
                    <div class="rating-review" data-rating="@review.Rating">
                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                    </div>
                </div>
            </div>
        }

    }
    else
    {
        <h3 class="no-reviews-message">This film has not been reviewed yet! Be the first to leave a review.</h3>
    }
</div>


<div id="deleteModal" class="delete-modal">
    <div class="delete-modal-content">
        <p>Are you sure you want to delete your review?</p>
        <button id="confirmDelete">Yes</button>
        <button id="cancelDelete">No</button>
    </div>
</div>

<div id="editModal" class="edit-modal">
    <div class="edit-modal-content">
        <div class="edit-modal-header">
            <span id="closeEditModal" class="close">&times;</span>
            <h2>Edit Review</h2>
        </div>
        <div id="error-message-box" class="error-message-box">
            <div class="error-mark-section">
                <i class="fa-solid fa-xmark"></i>
            </div>
            <span id="error-message-text"></span>
        </div>
        <div class="edit-rating">
            <span class="edit-star" data-value="1">☆</span>
            <span class="edit-star" data-value="2">☆</span>
            <span class="edit-star" data-value="3">☆</span>
            <span class="edit-star" data-value="4">☆</span>
            <span class="edit-star" data-value="5">☆</span>
            <span class="edit-star" data-value="6">☆</span>
            <span class="edit-star" data-value="7">☆</span>
            <span class="edit-star" data-value="8">☆</span>
            <span class="edit-star" data-value="9">☆</span>
            <span class="edit-star" data-value="10">☆</span>
        </div>
        <div class="edit-review-content-line">
            <label class="review-content-label" for="editReviewContent">Review Content:</label><br>
            <textarea id="editReviewContent" name="editReviewContent" rows="4" cols="50"></textarea>
            <button id="submitEdit">Submit Edit</button>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="~/js/review/editReview.js"></script>
<script src="~/js/review/deleteReview.js"></script>
<script src="~/js/review/reviewFunctionalities.js"></script>